{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% translate "Create label" %}</h1>
        <form action="{% url "create_label" %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="id_name">{% translate "Name" %}</label>
                <input type="text" name="name" maxlength="50" class="form-control" placeholder="{% translate "Name" %}" required="" id="id_name">
            </div>
            <input class="btn btn-primary" type="submit" value="{% translate "Create" %}">
        </form>
    </div>

{% if form.errors%}
    {% for error in form.errors %}
        <p>{{ error|escape }}</p>
    {% endfor %}
{% endif %}

{% endblock content %}