{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Update task" %}</h1>
    <form action="{% url "update_task" pk=task.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        <input class="btn btn-primary" type="submit" value="{% translate "Update" %}">
    </form>
</div>
{% if form.errors%}
    {% for error in form.errors %}
        <p>{{ error|escape }}</p>
    {% endfor %}
{% endif %}

{% endblock content %}